@use "sass:color";

@font-face {
  font-family: "northrupext";
  src:
    url("/fonts/NorthrupExtended.woff2") format("woff2"),
    url("/fonts/NorthrupExtended.ttf") format("truetype");
}

@font-face {
  font-family: "pixelifysans";
  src: url("/fonts/PixelifySans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "spacemono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "vt323";
  src: url("/fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "geistmono";
  src: url("/fonts/GeistMono-VariableFont_wght.ttf") format("truetype");
}

$dark-theme: true !default;
$main-text-color: #faf9f6 !default;
$main-background-color: #181a18 !default;
$tile-background-color: color.adjust(
  $main-background-color,
  $whiteness: 4%
) !default;
$btn-background-color: color.adjust(
  $main-background-color,
  $whiteness: 16%
) !default;

a {
  color: $main-text-color;
  text-decoration: unset;

  &:hover {
    color: color.adjust($main-text-color, $whiteness: -35%);
  }

  &:visited {
    color: "";
  }
}

body {
  font-family: "geistmono", monospace;
  background-color: $main-background-color;
  color: $main-text-color;
  text-align: left;
  max-width: 710px;
  margin: 5vh auto;
  font-size: 10pt;
}

.nix-icon {
  fill: url(#nixlogo-gradient);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: sub;
}

.widgets {
  width: 177px;

  .widget {
    background-color: $tile-background-color;

    border-radius: 10px;
    padding: 0.5em;
  }
}

.footer {
  text-align: center;

  margin-top: 1em;

  hr {
    margin: 0.2em;
  }

  .credits {
    .icon {
      fill: white;
    }
  }
}

@keyframes pop-jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.pop-anim {
  animation: pop-jump 0.2s ease-in-out;
}

.clicker {
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  position: relative;

  .counter {
    position: absolute;
    top: -10px;
    right: -10px;
    rotate: 45deg;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 8pt;
  }

  .headline {
  }

  .btn {
    border: none;
    border-radius: 10px;
    background-color: $btn-background-color;
    color: $main-text-color;
    font-weight: 400;
    font-family: "geistmono", monospace;
  }
}

.buttons {
  text-align: center;
  padding: 0 !important;

  .title {
    padding: 0.5em;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1px;
  }

  .x8831 {
    width: 88px;
    height: 31px;
    background-image: linear-gradient(
      to right,
      #d52d00 0%,
      #d52d00 15%,
      #ef7627 15%,
      #ef7627 30%,
      #ff9a56 30%,
      #ff9a56 45%,
      #ffffff 45%,
      #ffffff 60%,
      #d162a4 60%,
      #d162a4 75%,
      #b55690 75%,
      #b55690 90%,
      #a30262 90%,
      #a30262 100%
    );
  }
}

.wip {
  text-align: center;
  font-size: 11pt;
  color: red;
}

.notfound {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em !important;

  .notfound-image {
    width: 12em;
    height: 12em;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;

  margin-bottom: 1em;

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

.webring {
  display: flex;
  justify-content: space-between;

  .prev {
  }

  .home {
  }

  .next {
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.up {
}

.down {
}
// 670
.main {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 25% auto;
  gap: 0.8em 0.8em;
  border-radius: 10px;
}

@media only screen and (max-width: 670px) {
  body {
    margin: 0.5em;
  }

  .widgets {
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.8em;
    flex-grow: 1;

    .content .info {
      order: 2;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .file {
    background-color: $tile-background-color;

    border-radius: 10px;
    padding: 0.5em;
  }
}
